        body {
            font-family: 'Poppins', sans-serif;
            margin: 0px;
        }    
        
        main {
            padding: 10px;
          }
        
        header {
            background-color: #8b45ff;
          
          }
       
        
        /* Cambiar el color del ícono en el enlace activo */
        .nav-item.nav-link.active .bi {
            color: var(--primary-color);
            }

        /* Colores de Footer*/
        /* Color de Botón activo*/
        .nav-item.nav-link.active {
            background-color: #6610f2;
            }
            
        /* Color de Botón inactivo*/
        .nav-item.nav-link {
            color: #484848;
            }

        .btn-primary{
            background-color: #6610f2;
            border-color: #6610f2; 
            border: 0px;
            }   

        .btn-primary:hover {
            background-color: #550ec9; 
            border-color: #550ec9; 
            border: 0px;
            }

             /* Boton secundario*/

        .btn.btn-secondary {
            color: #fff;
            background-color: #646464;
            border: 0px;
              }

        .btn-secondary:hover {
                background-color: #4b4b4b; 
                }        
              
             /* Estilo Tarjeta de locales*/
        .card-body {
            color: white;
            background-color:#6100ffba;
            border: 0px;
        }
         
        .LoginFoto {
            padding-top: 50px;
        }
        

      /* Login */

        .registration-form{
            padding: 50px 0;
        }

        .solicitarturno{
            padding: 50px 0;
        }


        
        .registration-form form{
            background-color: #dee9ff;
            max-width: 600px;
            margin: auto;
            padding: 50px 70px;
            border-top-left-radius: 30px;
            border-top-right-radius: 30px;
            box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.075);
        }
        
        .registration-form .form-icon{
            text-align: center;
            background-color: #6610f2;
            border-radius: 50%;
            font-size: 40px;
            color: white;
            width: 100px;
            height: 100px;
            margin: auto;
            margin-bottom: 50px;
            line-height: 100px;
        }
        
        .registration-form .item{
            border-radius: 20px;
            margin-bottom: 25px;
            padding: 10px 20px;
        }
        
        .registration-form .create-account{
            border-radius: 30px;
            padding: 10px 20px;
            font-size: 18px;
            font-weight: bold;
            background-color: #6610f2;
            border: none;
            color: white;
            margin-top: 20px;
        }
        
        .registration-form .social-media{
            max-width: 600px;
            background-color: #fff;
            margin: auto;
            padding: 35px 0;
            text-align: center;
            border-bottom-left-radius: 30px;
            border-bottom-right-radius: 30px;
            color: #9fadca;
            border-top: 1px solid #dee9ff;
            box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.075);
        }
        
        .registration-form .social-icons{
            margin-top: 30px;
            margin-bottom: 16px;
        }
        
        .registration-form .social-icons a{
            font-size: 23px;
            margin: 0 3px;
            color: #6610f2;
            border: 1px solid;
            border-radius: 50%;
            width: 45px;
            display: inline-block;
            height: 45px;
            text-align: center;
            background-color:#fff;
            line-height: 45px;
        }
        
        .registration-form .social-icons a:hover{
            text-decoration: none;
            opacity: 0.6;
        }

        


        
        @media (max-width: 576px) {
            .registration-form form{
                padding: 50px 20px;
            }
        
            .registration-form .form-icon{
                width: 70px;
                height: 70px;
                font-size: 30px;
                line-height: 70px;
            }
        }


        header.containerheader {
            padding: 20px;
        }

         /* Fin de Login */

        .caracteristicas {
            padding: 10px;
            text-align: center;

         }


        .hsubi {
            padding: 20px;
        }
        
.container {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  
  input {
      padding: 22px 15px !important;
      border: 1px solid #CFD8DC !important;
      border-radius: 4px !important;
      box-sizing: border-box;
      background-color: #fff !important;
      color: #000 !important;
      font-size: 16px !important;
      letter-spacing: 1px;
      position: relative;
  }
  